[init]
	defaultBranch = main

[pull]
	ff = only

[user]
	name = 23prime
	email = 23.prime.37@gmail.com
	signingkey = ~/.ssh/id_ed25519_github_sign.pub

[includeIf "gitdir:~/develop/work/"]
	path = ~/.gitconfig-work

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgSign = true

[core]
	editor = emacs
	quotepath = false

[include]
	path = /home/okkey/.config/git/config.d/alias.conf

[coderabbit]
	machineId = cli/993aeb30fc444181bc894dc55b8ebaa7
